.scores {
  display: flex;
  justify-content: space-between;
}

.selections {
  display: flex;
  justify-content: space-between;
}

.scores, .selections {
  font-size: 25px;
  margin: 20px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45vh;
}

#result {
  text-align: center;
  font-size: 25px;
}

button {
  height: 50px;
  width: 150px;
  font-size: 20px;
}