.scores {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

button {
  height: 50px;
  width: 150px;
}